.hidden {
  display: none;
}

li {
  list-style: none;
}

#potatoListUL {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
}

.potatoListLI {
  border-top: 2px solid blue;
  border-right: 2px solid blue;
}

.potatoStarch {
  font-size: 1.1rem;
  font-weight: 500;
}

.potatoCook {
  font-size: 1.1rem;
  font-weight: 500;
}

.firstRowPotatoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.potatoName {
  font-size: 1.3rem;
  font-weight: 600;
}


.favoriteButtonActive {
  height: 1.5rem;
  color: blue;
  border: 2px solid red;
  background-color: black;

}

.favoriteButton {
  height: 1.5rem;
  color: blue;
  border: 2px solid blue;
  background-color: black;
}

.removeFavoriteButton {
  height: 1.5rem;
  color: yellow;
  border: 2px solid yellow;
  background-color: black;
}

.basicButton {
  height: 2rem;
  color: white;
  border: 2px solid white;
  background-color: black;
  border-radius: 20px;
}

.updateUserInformation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateUserInformationInput {
  height: 1.5rem;
  margin: 1px;
  color: white;
  background-color: black;
  border: 2px solid white;
}
